<menu-programacion></menu-programacion>

<div style="height:50px;"></div>
<section style="padding: 1em;">
  
</section>
<section style="padding: 1em;">
    
    <section class="contenedor columns is-multiline is-mobile">
        <div class="column is-1-desktop is-2-tablet is-3-mobile" *ngFor="let item of modulosAutorizados">
            <a href="#" title="{{ item.titulo}}" style="position: relative;" class="item" routerLink="{{item.url}}" routerLinkActive="active">
                
                <figure class="image " style="height: auto; width: 80%; ">
                    <img src="{{ item.icono }}" alt="{{item.titulo}}">                            
                </figure>
                <span class="is-hidden-mobile">{{ item.titulo}}</span>
                <span class="is-hidden-tablet is-hidden-desktop"><small>{{ item.titulo}}</small></span>
                <span *ngIf="item.badge>0" class="tag is-danger" style="position:absolute; top:0px; right:0px;">{{ item.badge }}</span>
            </a>
        </div>
    </section>
</section>
